<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=<$mt:var name="language_encoding"$>" />
    <title>Purchasing...</title>
    <script type="text/javascript">
    </script>
  </head>
  <body onload="document.forms[0].submit();">
    <$mt:PayPalButton autosubmit="1"$>
  </body>
</html>
