<mt:setvar name="page_title" value="<__trans phrase="Manage Products">">
<mt:ignore>
<mt:setvarblock name="action_buttons">
    <mt:if name="is_administrator">
    <a href="javascript:void(0)"
        onclick="doRemoveItems(getByID('<$mt:var name="object_type"$>-listing-form'), '<__trans phrase="blog" escape="js">', '<__trans phrase="blogs" escape="js">'); return false;"
        accesskey="x"
        title="<__trans phrase="Delete selected URIs (x)">"
        ><__trans phrase="Delete"></a>
    </mt:if>
</mt:setvarblock>
</mt:ignore>
<mt:setvarblock name="related_content">
    <mt:include name="include/display_options.tmpl" />
    <mtapp:PageActions />
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
    <script type="text/javascript">
    <!--
    var tableSelect;
    function init()
    {
    	// setup
    	tableSelect = new TC.TableSelect( "asset.product-listing-table" );
    	tableSelect.rowSelect = true;
    }
    TC.attachLoadEvent( init );
    //-->
    </script> 
</mt:setvarblock>
<mt:setvarblock name="system_msg">
    <mt:if name="uri_reset">
        <mtapp:statusmsg
            id="message"
            class="success">
            <__trans phrase="The URI you selected has been reset.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="map_saved">
        <mtapp:statusmsg
            id="message"
            class="success">
            <__trans phrase="The selected URI has been successfully mapped to a new URL.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:ignore>
<mt:setvarblock name="action_buttons">
    <a href="javascript:void(0)"
        onclick="if (confirm('Reset selected 404s?')) doForMarkedInThisWindow(getByID('cleansweep.log-listing-form'), '<__trans phrase="404">', '<__trans phrase="404s">', 'id', 'itemset_reset_404s'); return false"
        accesskey="r"
        title="<__trans phrase="Reset selected 404s (r)">"
        ><__trans phrase="Reset "></a>
    <a href="javascript:void(0)"
        onclick="if (confirm('Clear selected 404s?')) doForMarkedInThisWindow(getByID('cleansweep.log-listing-form'), '<__trans phrase="404">', '<__trans phrase="404s">', 'id', 'itemset_delete_404s'); return false"
        accesskey="d"
        title="<__trans phrase="Clear selected 404s (h)">"
        ><__trans phrase="Clear"></a>
</mt:setvarblock>
</mt:ignore>
<$mt:include name="include/header.tmpl"$>
<mtapp:listing type="asset.product">
    <mt:if name="__first__">
    <thead>
        <tr>
            <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
            <th id="l-name"><__trans phrase="Name"></th>
            <th id="l-type"><__trans phrase="Type"></th>
            <th id="l-list"><__trans phrase="Price"></th>
            <th id="l-stat"><__trans phrase="Status"></th>
            <th id="l-invt"><__trans phrase="Inventory"></th>
            <th id="l-date"><__trans phrase="Created On"></th>
        </tr>
    </thead>
    <tbody>
    </mt:if>
        <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
            <td class="cb"><input type="checkbox" name="id" value="<mt:var name="id">" class="select" /></td>
            <td><$mt:var name="name"$></td>
            <td><$mt:var name="type"$></td>
            <td>
              <mt:if name="sale_price" lt="$list_price">
                <span class="on_sale"><$mt:var name="list_price_f"$></span> <$mt:var name="sale_price_f"$>
              <mt:else>
                <$mt:var name="list_price_f"$>
              </mt:if>
            </td>
            <td><$mt:var name="status"$></td>
            <td><$mt:var name="inventory"$></td>
            <td>
            <mt:if name="created_on_relative">
                <mt:if name="dates_relative">
                        <$mt:var name="created_on_relative"$>
                <mt:else>
                        <$mt:var name="created_on_formatted"$>
                </mt:if>
            <mt:else>
                        <$mt:var name="created_on_formatted"$>
            </mt:if>
            </td>
        </tr>
    <mt:if name="__last__">
    </tbody>
    </mt:if>
</mtapp:listing>
<$mt:include name="include/footer.tmpl"$>
