<mt:setvar name="page_title" value="<__trans phrase="Manage Subscriptions">">
<mt:setvarblock name="related_content">
    <mt:include name="include/display_options.tmpl" />
    <mtapp:widget
        id="quickfilters"
        label="<__trans phrase="Quickfilters">">
        <$mtapp:ListFilters$>
    </mtapp:widget>
    <mtapp:PageActions />
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
    <link rel="stylesheet" type="text/css" href="<$mt:StaticWebPath$>plugins/StoreFront/app.css" />
    <link rel="stylesheet" type="text/css" href="<$mt:StaticWebPath$>plugins/StoreFront/jquery/themes/base/ui.all.css" />
    <script type="text/javascript" src="<$mt:StaticWebPath$>plugins/StoreFront/jquery/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="<$mt:StaticWebPath$>plugins/StoreFront/jquery/ui/ui.core.js"></script>
    <script type="text/javascript" src="<$mt:StaticWebPath$>plugins/StoreFront/jquery/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="<$mt:StaticWebPath$>plugins/StoreFront/jquery/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="<$mt:StaticWebPath$>plugins/StoreFront/jquery/ui/ui.dialog.js"></script>
    <script type="text/javascript">
    <!--
    var tableSelect;
    function init()
    {
    	// setup
    	tableSelect = new TC.TableSelect( "sf.subscription-listing-table" );
    	tableSelect.rowSelect = true;
    }
    $(document).ready( function() {
      $('td .dialog').each( function() { $(this).dialog({ autoOpen: false }); });
      $('a.show_info').click( function() {
	var id = $(this).attr('dialog_id');
	$('#'+id).dialog('open');
      });
      init();
    });
    //-->
    </script> 
</mt:setvarblock>
<mt:setvarblock name="system_msg">
    <mt:if name="saved_deleted">
        <mtapp:statusmsg
            id="message"
            class="success">
            <__trans phrase="The subscription(s) you selected has been deleted.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>

<mt:ignore>
<mt:setvarblock name="action_buttons">
    <a href="javascript:void(0)"
       onclick="doRemoveItems(getByID('<$mt:var name="object_type"$>-listing-form'), '<mt:var name="object_label" lower_case="1" escape="js">', '<mt:var name="object_label_plural" lower_case="1" escape="js">'); return false;"
       accesskey="x" title="<$mt:var name="delete_button_title"$>"><__trans phrase="Delete"></a>
</mt:setvarblock>
</mt:ignore>

<$mt:include name="include/header.tmpl"$>

<mtapp:listing type="sf.subscription">
    <mt:if name="__first__">
    <thead>
        <tr>
            <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
            <th id="l-name"><__trans phrase="Subscriber"></th>
            <th id="l-name"><__trans phrase="Product Name"></th>
            <th id="l-type"><__trans phrase="Status"></th>
            <th id="l-date"><__trans phrase="Value"></th>
	            <th id="l-date"><__trans phrase="Last Payment"></th>
            <th id="l-date"><__trans phrase="Created On"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </mt:if>
        <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if><mt:if name="is_test"> test</mt:if>">
            <td class="cb"><input type="checkbox" name="id" value="<mt:var name="id">" class="select" /></td>
            <td><$mt:var name="payer_name"$></td>
            <td><$mt:var name="product_name"$></td>
            <td><$mt:var name="status"$></td>
            <td><$mt:var name="value"$></td>
            <td><$mt:var name="last_payment"$></td>
            <td>
            <mt:if name="created_on_relative">
                <mt:if name="dates_relative">
                        <$mt:var name="created_on_relative"$>
                <mt:else>
                        <$mt:var name="created_on_formatted"$>
                </mt:if>
            <mt:else>
                        <$mt:var name="created_on_formatted"$>
            </mt:if>
            </td>
	    <td>
              <a dialog_id="dialog-<$mt:var name="id"$>" href="javascript:void(0)" class="show_info"><img src="<$mt:StaticWebPath$>plugins/StoreFront/info-icon.gif" width="14" height="14" /></a>
              <div id="dialog-<$mt:var name="id"$>" class="info dialog" title="Subscription Details">
                <ul>
                  <li><label>Source</label>: <$mt:var name="source"$></li>
                  <li><label>Subscription ID</label>: <$mt:var name="external_id"$></li>
                </ul>
              </div>
            </td>
        </tr>
    <mt:if name="__last__">
    </tbody>
    </mt:if>
</mtapp:listing>
<$mt:include name="include/footer.tmpl"$>
